<section>
   <div class="modal-body">
      <form>
         <div class="modal-header-title">
            <h5> View BPL Patient Info</h5>
            <span class="modal-container-close" (click)="modalRef.hide()"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
         </div>
         <div class="container modal-content-body">
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Patient ID:</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Patient_Id}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Patient Name:</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Patient_Name}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Patient Age :</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Patient_Age}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Patient Gender :</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Patient_Gender}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Patient Height :</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Patient_Height}} {{ Info?.Patient_Height !== '' ? ' cm' : ''}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Patient Weight :</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Patient_Weight}} {{ Info?.Patient_Weight !== '' ? ' kg' : ''}}
                        </div>
                     </div>
                  </div>
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Patient BP :</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Patient_BP}} {{ Info?.Patient_BP !== '' ? ' mmHg' : ''}}
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl">Hospital :</label>
                        <div class="col-sm-12  col-md-7">
                           {{Info?.Initiated_Hospital?.Hospital_Name }}
                        </div>
                     </div>
                  </div> 
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl"> ECG Taken Time :</label>
                        <div class="col-sm-12  col-md-7">                              
                           <span> {{Info?.ECG_Taken_date_time | date: 'd-MMM-y, HH:mm' }}</span>
                        </div>
                     </div>
                  </div>
                  <div class="form-group form-group-sm col-md-12">
                     <div class="row">
                        <label class="col-sm-12  col-md-5 text-lg-right lbl"> ECG File :</label>
                        <div class="col-sm-12  col-md-7">
                           <span class="UploadBtn" (click)="EcgView(template)" >
                              <i class="material-icons"> photo_size_select_actual </i>
                              <span>View ECG </span>
                           </span>
                        </div>
                     </div>
                  </div> 
                </div>
            </div>
         </div>    
         <div class="modal-actions">          
            <button type="submit" (click)="modalRef.hide()" class="modal-confirm btns-modal-action fill-left-to-right" aria-label="">
             Close
            </button>
         </div>
      </form>   
   </div>
 
   <ng-template #template>
      <div class="ECGView">
         <span class="CloseBtn" (click)="modalReference.hide();"> x </span>
         <div class="ImgSection">
            <img [ngStyle]="{'max-height': screenHeight + 'px', 'max-width': screenWidth + 'px' }" src="{{Info?.ECG_File}}" alt="">
         </div>
      </div>
   </ng-template>
</section>
 
 