<div class="modal-body" style=" background-image: linear-gradient(to right, #2f81d4 0, #59c5ef 100%); ">
   <div class="" style="padding: 10px 0 20px 0;">
      <h5 class="modal-title" style=" color: #ffffff; line-height: 50px; ">
         Thanks for the Registration!
      </h5>
      <h6 class="modal-title" style=" color: rgba(255, 255, 255, 0.58); padding: 0px 20px; line-height: 25px;  letter-spacing: 0.5px;">
         We received your hospital registration details. Our executives will reach you shortly.
      </h6>
   </div>
   <div class="modal-actions" style="background: transparent; text-align: center;">
      <button type="button" class="modal-cancel btns-modal-action fill-right-to-left" (click)="ModalRef.hide()" style="border-width: 1px;">Close </button>
   </div>
</div>